*{
	border:1px solid;
	border-radius:4px;
}
header, footer{
	background-color:#3C3C3C;
	color:#FFE221;
}
body{
	font-family: "Montserrat", sans-serif;
}
label span{
	font-family:"Open Sans";
}
button{
	font-family: "Montserrat", sans-serif;
}
img{
	width: 15%;
    height: auto;
}
[type="text"]{
	display:block;
	margin: 15px auto;
	width:18vw;
	height:3vh;
	min-width:180px;
	min-height:20px;;
}
span [type="text"]{
	display:inline-block;
	
}
form fieldset span{
	margin: 15px auto;
	position:relative;
}
fieldset{
	margin:1px auto;
}
label, input, p, legend{
	margin:15px auto;
	position:relative;

}
legend label{
	display:block;
	position:relative;
	width:17vw;
	min-width:180px;
}
legend{
	display:inline-block;
	width:20vw;
	min-width:180px;
}
p{
	text-align:center;
}
button{
	background-color:#3C3C3C;
	color:white;
	display:block;
	margin-bottom: 0;
	font-size: 1.5em;
	font-weight: 700;
	vertical-align: middle;
	cursor: pointer;
	padding: 12.5px 15px;
	color: #fff;
	border: 2px solid #3C3C3C;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	text-align: center;
	transition: all 0.7s;
	width:20%;
	min-width:230px;
	margin: 0 auto;
	position:relative;
}
button:hover{
	background-color:#FFE221;
	color:black;
	border: 2px solid #FFE221;
}
button.done{
	background-color:#3C3C3C;
	color:#FFE221;
	transition: all 0.7s;
	border: 2px solid #3C3C3C;
	
}
button.done:hover{
	background-color:#3C3C3C;
	color:#FFE221;
	cursor: auto;
	border: 2px solid #3C3C3C;
	
}
.center{
	display:block;
	position:relative;
	width:18vw;
	min-width:180px;

}
.full-window{
	width:100%;
}
#email-holder{
	width:20vw;
}
#email-holder input:first-child{
	width:10vw;
	min-width:90px;
}
#email-holder input:last-child{
	width:8vw;
	min-width:60px;
}
/* ----------- laptop and pc ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}


/* ----------- Mobilphone----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  label, input, p, legend{
	margin:15px auto;

}
legend label{
	display:block;
	position:relative;
	width:17vw;
	min-width:180px;
}
legend{
	display:inline-block;
	width:20vw;
	min-width:180px;
}

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}


/* ----------- Tablet----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}
/* ----------- Galaxy Tab 10.1 ----------- */

/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px) {

}

/* Portrait */
@media 
  (max-device-width: 800px) 
  and (orientation: portrait) { 

}

/* Landscape */
@media 
  (max-device-width: 1280px) 
  and (orientation: landscape) { 

}